body{
    background-color: rgb(73, 73, 73);
}


p{
    padding: 0;
    margin: 0;
}


h1{
    margin: 0;
    padding: 0;
    text-align: center;
    color: aliceblue;
    padding-bottom: 10px;
    
}


.div1{
    margin: auto;
    border: 2px solid rgb(32, 132, 178);
    width: 500px;
    border-right: none;
    border-left: none;
}


.div2{
    display: grid;
   background-color: rgb(120, 122, 122);
   margin: auto;
   align-items: center;
   height: 250px;
   width: 500px;
   justify-content: center;
   margin-top: 20px;
   padding-bottom: 60px;

   


  
}

input{
    width: 300px;
    
}


button{
    background-color: aqua;
    border: 2px solid aqua;
    height: 40px;
}